
QCheckBox {
    spacing: 15px;
    margin-left: 20%;
    margin-right: 20px;
    padding-left: 0px;
    padding-right: 0px;
}

QCheckBox:disabled {
  color: mix($border-color, $background, 50);
  background: transparent;
}

QCheckBox::indicator {
    width: 20px;
    height: 20px;
}

QCheckBox::indicator:unchecked {
  image: url(icons/checkbox.unchecked.png);
}

QCheckBox::indicator:unchecked:disabled {
  image: url(icons/checkbox.unchecked.disabled.png);
}

QCheckBox::indicator:unchecked:pressed {
  //image: url(icons/checkbox.pressed.png);
}

QCheckBox::indicator:checked {
  image: url(icons/checkbox.checked.png);
}

QCheckBox::indicator:checked:disabled {
  image: url(icons/checkbox.checked.disabled.png);

}

QCheckBox::indicator:checked:pressed {

}

QCheckBox::indicator:indeterminate:hover {

}

QCheckBox::indicator:indeterminate:pressed {

}
