/*===========================================================================*/
/*                               QGroupBox                                   */
/*===========================================================================*/

QGroupBox {
  padding-top: 25px;
  border: $border;
  border-radius: $border-radius;
  font: bold 14px;
}

QGroupBox::title {
  subcontrol-origin: padding;
  subcontrol-position: top center;
  margin-top: -2px;
  padding-top: 2px;
  min-height: 25px;
  color: $background;
  background: $border-color;
  border-top: none;
  border-top-right-radius: $border-radius;
  border-top-left-radius: $border-radius;
}

QGroupBox[checkable=true]::title {
  padding-left: -30px;
}

QGroupBox::indicator {
  subcontrol-origin: content;
  width: 25px;
  height: 25px;
  margin-left: 35px;
}

QGroupBox::indicator:checked {
    image: url(icons/checkbox.inverted.checked.png);
}

QGroupBox::indicator:unchecked {
    image: url(icons/checkbox.inverted.unchecked.png);
}


QGroupBox.disabled {
  border-color: red;
}
