/*===========================================================================*/
/*                                 QLabel                                    */
/*===========================================================================*/

QLabel {
  padding: 2;
  font-weight: bold;
  // background: $background;
}

QLabel[frameShape='6'] { // styled panel
  background: darken($background, 2%);
  border: $border;
  border-color: darken($border-color, 4%);
  border-radius: $border-radius;
}
