/*===========================================================================*/
/*                               QTabWidget                                  */
/*===========================================================================*/

QTabWidget {

}

QTabWidget::pane > QWidget {
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

QTabWidget::pane {
  border: $border;
  border-radius: $border-radius;
  padding: 2px;
  padding-top: 0px;
}

QTabWidget:disabled::pane {
  background: $background;
  // border-color: mix($border-color, $background, 40);
  // background: blue;
}

QTabWidget[tabPosition="0"]::pane { //top tabs
  border-top: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

QTabWidget[tabPosition="1"]::pane { //bottom tabs
  border-bottom: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

QTabWidget[tabPosition="2"]::pane { //left (west) tabs
  border-left: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

QTabWidget[tabPosition="3"]::pane { //right (east) tabs
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

QTabWidget::tab-bar {

}

QTabWidget::tab-bar:top,
QTabWidget::tab-bar:bottom {
  // width: 100000px; //distribute tabs
}

QTabWidget::tab-bar:left,
QTabWidget::tab-bar:right {
  // height: 100000px; //distribute tabs
}
