/*===========================================================================*/
/*                              Misc Widgets                                 */
/*===========================================================================*/

QSizeGrip {
  background: transparent;
  margin: 2px;
  background-image: url(icons/corner.png);
}
